<div class="main-content">
  <div class="container-fluid">
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="First group">
        <div class="mr-auto p-2 bd-highlight btn-izquierda">
          <h4>Vencimiento de Puntos</h4>
        </div>
      </div>
      <div class="input-group">
        <button type="button" class="btn btn-fill btn-agregar" data-toggle="modal" data-target="#exampleModal">
          <i class="material-icons">add</i>&nbsp;Agregar</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-title mb-0">
      <div class="container-fluid">
        <!------------------------- MODALES DE AGREGAR Y MODIFICAR--------------------------->
        <div class="row">
          <!------------------------- AGREGAR SUB-CATEGORÍA--------------------------->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Agregar Vencimiento de Puntos</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!--*******************-->
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Inicio validez</label>
                    <div class="col-sm-9">
                      <mat-form-field>
                        <input matInput [matDatepicker]="pickerTr" (click)="pickerTr.open()"
                          [(ngModel)]="inicioValidez">
                        <mat-datepicker-toggle matSuffix [for]="pickerTr"></mat-datepicker-toggle>
                        <mat-datepicker #pickerTr></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--*******************-->
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Fin validez</label>
                    <div class="col-sm-9">
                      <mat-form-field>
                        <input matInput [matDatepicker]="pickerFv" (click)="pickerFv.open()" [(ngModel)]="finValidez">
                        <mat-datepicker-toggle matSuffix [for]="pickerFv"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFv></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--*******************-->
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Duración</label>
                    <div class="col-sm-9">
                      <mat-form-field>
                        <input matInput type="number" [(ngModel)]="duracion" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="cancelarAgregar()">Cancelar</button>
                  <button type="button" class="btn btn-primary" (click)="agregar()" data-dismiss="modal"
                    [disabled]="((inicioValidez && finValidez && duracion))?false:true">
                    Guardar</button>
                </div>
              </div>
            </div>
          </div>
          <!-------------------------END AGREGAR SUB-CATEGORIA--------------------------->
          <!------------------------- MODIFICAR SUB-CATEGORÍA--------------------------->
          <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modificar Vencimiento de Puntos</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!--*******************-->
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Id</label>
                    <div class="col-sm-9">
                      <mat-form-field>
                        <input matInput type="text" class="form-control form-control-sm" name="modificarId"
                          id="modificarId" [(ngModel)]="modificarId" disabled>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--*******************-->
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Inicio validez</label>
                    <div class="col-sm-9">
                      <mat-form-field>
                        <input matInput [matDatepicker]="pickerModIni" (click)="pickerModIni.open()"
                          [(ngModel)]="modificarInicioValidez">
                        <mat-datepicker-toggle matSuffix [for]="pickerModIni"></mat-datepicker-toggle>
                        <mat-datepicker #pickerModIni></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--*******************-->
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Fin validez</label>
                    <div class="col-sm-9">
                      <mat-form-field>
                        <input matInput [matDatepicker]="pickerModFin" (click)="pickerModFin.open()"
                          [(ngModel)]="modificarFinValidez">
                        <mat-datepicker-toggle matSuffix [for]="pickerModFin"></mat-datepicker-toggle>
                        <mat-datepicker #pickerModFin></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--*******************-->
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Días duracion</label>
                    <div class="col-sm-9">
                      <mat-form-field>
                        <input matInput type="text" class="form-control form-control-sm" name="modificarDuracion"
                          id="modificarDuracion" [(ngModel)]="modificarDuracion" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--*******************-->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" (click)="modificar()" data-dismiss="modal"
                    [disabled]="((modificarInicioValidez && modificarFinValidez && modificarDuracion ))?false:true">
                    Guardar</button>
                </div>
              </div>
            </div>
          </div>
          <!-------------------------END MODIFICAR SUB-CATEGORIA--------------------------->
          <!------------------------- ELIMINAR SUB-CATEGORÍA--------------------------->
          <div class="modal fade modal-warning" id="exampleModal3" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Está seguro de que desea eliminar esta sub-categoría?
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!--*******************-->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" (click)="eliminar()" data-dismiss="modal">
                    Eliminar</button>
                </div>
              </div>
            </div>
          </div>
          <!-------------------------END ELIMINAR SUB-CATEGORIA--------------------------->
        </div>
        <br>
        <!------------------------- GRILLA--------------------------->
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ tableData1.headerRow[0] }}</th>
                    <th>{{ tableData1.headerRow[1] }}</th>
                    <th>{{ tableData1.headerRow[2] }}</th>
                    <th>{{ tableData1.headerRow[3] }}</th>
                    <th class="disabled-sorting text-right">{{ tableData1.headerRow[4] }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of tableData1.dataRows">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td class="text-right">
                      <a href="javascript:void(0)" class="btn btn-link btn-warning btn-just-icon edit"
                        (click)="abrirModalModificar(row[0],row[1],row[2],row[3])"><i class="material-icons">edit</i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>