<div class="main-content">
  <!--div class="container-fluid">
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="First group">
        <div class="mr-auto p-2 bd-highlight btn-izquierda">
          <h4>Equivalencia de Puntos</h4>
        </div>
      </div>
    </div>
  </div-->
  <div class="card">
    <div class="card-title mb-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <br>
            <div class="row">
              <div class="col-md-6">
                <label class="col-sm-3 col-form-label">Monto</label>
                <div class="input-group no-border">
                  <input type="number" value="" class="form-control" [(ngModel)]="montoEquivalencia">
                </div>
              </div>
              <div class="col-md-6 col-sm-4">
                <button mat-raised-button class="btn btn-primary btn-sm" (click)="consultar()"
                  [disabled]="((montoEquivalencia))?false:true">Consultar</button>
                <button mat-raised-button class="btn btn-info btn-sm" (click)="limpiar()">Limpiar</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="col-sm-6 col-form-label">Puntos equivalentes</label>
                <div class="input-group no-border">
                  <input type="textarea" value="" class="form-control" [(ngModel)]="equivalente" disabled>
                </div>
              </div>
              <br>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>