<div class="main-content">
  <div class="container-fluid">
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="First group">
        <div class="mr-auto p-2 bd-highlight btn-izquierda">
          <h4>Cliente</h4>
        </div>
      </div>
      <div class="input-group">
        <button type="button" class="btn btn-fill btn-agregar" data-toggle="modal" data-target="#exampleModal">
          <i class="material-icons">add</i>&nbsp;Agregar</button>
      </div>
    </div>
  </div>
  <div class="card ">
    <div class="card-title mb-0">
      <div class="container-fluid">
        <!--*******************-->
        <div class="container-fluid-filtros">
          <!-- inicio grupo de botones-->
          <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
              <div class="mr-auto p-2 bd-highlight btn-izquierda">
                <button type="button" class="btn btn-secondary" (click)="toggleFiltro()">
                  Opciones de filtrado<i class="material-icons">keyboard_arrow_down</i>
                </button>&nbsp;&nbsp;
                <button type="button" class="btn btn-light btn-limpiar" (click)="limpiar()"> Limpiar
                  <i class="material-icons">delete_outline</i>
                </button>
              </div>
            </div>
            <br>
            <div class="input-group btn-derecha">
              <button type="button" class="btn btn-fill btn-sm btn-buscar" (click)="listarClientesPaginado(undefined)">
                <i class="material-icons">search</i>&nbsp;Buscar</button>
            </div>
          </div> <!-- end grupo de botones-->
          <!--inicio filtros de búsqueda-->
          <div *ngIf="mostrarFiltro">
            <div class="card card-body">
              <!--*******************-->
              <div class="row">
                <div class="col-md-6">
                  <div class="input-group no-border">
                    <input type="text" value="" class="form-control" [(ngModel)]="clienteNombre" placeholder="Nombre">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group no-border">
                    <input type="text" value="" class="form-control" [(ngModel)]="clienteApellido" placeholder="Apellido">
                 </div>
                </div>
              </div>
            </div>
          </div>
          <!--end filtros de búsqueda-->
        </div>
        <div class="row">
          <!------------------------- AGREGAR PACIENTE--------------------------->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Agregar Cliente</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!--*******************-->
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Nombre</label>
                    <div class="col-sm-9">
                      <mat-form-field>
                        <input matInput type="text" [(ngModel)]="nombre" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--*******************-->
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Apellido</label>
                    <div class="col-sm-9">
                      <mat-form-field>
                        <input matInput type="text" [(ngModel)]="apellido" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--*******************-->
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                      <mat-form-field>
                        <input matInput type="text" [(ngModel)]="email" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--*******************-->
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Teléfono</label>
                    <div class="col-sm-9">
                      <mat-form-field>
                        <input matInput type="text" [(ngModel)]="telefono" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--*******************-->
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Nº documento</label>
                    <div class="col-sm-9">
                      <mat-form-field>
                        <input matInput type="text" [(ngModel)]="cedula" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--*******************-->
                  <div class="row">
                    <label class="col-sm-3 col-form-label">RUC </label>
                    <div class="col-sm-9">
                      <mat-form-field>
                        <input matInput type="text" [(ngModel)]="ruc" required>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--*******************-->
                  <div class="row">
                    <label class="col-sm-3 col-form-label">Fecha Nacimiento</label>
                    <div class="col-sm-9">
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Seleccionar fecha" (click)="picker.open()"
                          [(ngModel)]="fechaNacimiento" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <!--*******************-->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="cancelarAgregar()">Cancelar</button>
                  <button type="button" class="btn btn-primary" (click)="agregar()" data-dismiss="modal"
                    [disabled]="((nombre && apellido && email && telefono && ruc && cedula && fechaNacimiento))?false:true">
                    Guardar</button>
                </div>
              </div>
            </div>
          </div>
          <!-------------------------END AGREGAR CLIENTE--------------------------->
        </div>
        <div class="row">
          <div class="col-md-12">
            <!--tabla sin buscador integrado-->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>&nbsp;&nbsp;{{ tableData1.headerRow[0] }}</th>
                    <th>{{ tableData1.headerRow[1] }}</th>
                    <th>{{ tableData1.headerRow[2] }}</th>
                    <th>{{ tableData1.headerRow[3] }}</th>
                    <th>{{ tableData1.headerRow[4] }}</th>
                    <th>{{ tableData1.headerRow[5] }}</th>
                    <!--th>{{ tableData1.headerRow[6] }}</th-->
                    <th>{{ tableData1.headerRow[7] }}</th>
                    <th class="disabled-sorting text-right">{{ tableData1.headerRow[8] }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of tableData1.dataRows">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <!--td>{{row[4]}}</td-->
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <!--td>{{row[7]}}</td-->
                    <td class="text-right">
                      <a href="javascript:void(0)" class="btn btn-link btn-warning btn-just-icon edit"
                        (click)="abrirModalModificar(row[0],row[1],row[2],row[3],row[4],row[5],row[6],row[7])"><i
                          class="material-icons">dvr</i></a>
                      <a href="javascript:void(0)" class="btn btn-link btn-danger btn-just-icon remove"
                        (click)="confirmarEliminar(row[0])"><i class="material-icons">delete</i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-center"> 
                  <mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEvent = listarReservaPaginado($event)" >
                  </mat-paginator>
                </div>
            </div>
            <!--end tabla sin buscador integrado-->
          </div>
          <!-- end col-md-12 -->
        </div>
        <!-- end row -->
      </div>
    </div>
  </div>
</div>