<div class="main-content">
  <div class="container-fluid"> 
    <div class="row">
      <div class="col-md-6">
        <div class="card ">
          <div class="card-body ">
            <div class="row">
              <div class="col-md-9">
                <button mat-raised-button type="submit" class="btn btn-fill btn-rose" data-toggle="modal"
                  data-target="#exampleModal">Agregar nuevo paciente</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!------------------------- AGREGAR PACIENTE--------------------------->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar Paciente</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!--*******************-->
              <div class="row">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput type="text" [(ngModel)]="nombre" required>
                  </mat-form-field>
                </div>
              </div>
              <!--*******************-->
              <div class="row">
                <label class="col-sm-3 col-form-label">Apellido</label>
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput type="text" [(ngModel)]="apellido" required>
                  </mat-form-field>
                </div>
              </div>
              <!--*******************-->
              <div class="row">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput type="text" [(ngModel)]="email" required>
                  </mat-form-field>
                </div>
              </div>
              <!--*******************-->
              <div class="row">
                <label class="col-sm-3 col-form-label">Teléfono</label>
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput type="text" [(ngModel)]="telefono" required>
                  </mat-form-field>
                </div>
              </div>
              <!--*******************-->
              <div class="row">
                <label class="col-sm-3 col-form-label">Nº documento</label>
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput type="text" [(ngModel)]="cedula" required>
                  </mat-form-field>
                </div>
              </div>
              <!--*******************-->
              <div class="row">
                <label class="col-sm-3 col-form-label">RUC </label>
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput type="text" [(ngModel)]="ruc" required>
                  </mat-form-field>
                </div>
              </div>
              <!--*******************-->
              <div class="row">
                <label class="col-sm-3 col-form-label">Fecha Nacimiento</label>
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Seleccionar fecha" 
                        (click)="picker.open()" [(ngModel)]="fechaNacimiento" required>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <!--*******************-->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="cancelarAgregar()">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="agregar()" data-dismiss="modal"
                [disabled]="((nombre && apellido && email && telefono && ruc && cedula && fechaNacimiento))?false:true">
                Guardar</button>
            </div>
          </div>
        </div>
      </div>
      <!-------------------------END AGREGAR PACIENTE--------------------------->
      <!------------------------- MODIFICAR PACIENTE--------------------------->
      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modificar Pacinte</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!--*******************-->
              <div class="row">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput type="text" [(ngModel)]="modificarNombre" required>
                  </mat-form-field>
                </div>
              </div>
              <!--*******************-->
              <div class="row">
                <label class="col-sm-3 col-form-label">Apellido</label>
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput type="text" [(ngModel)]="modificarApellido" required>
                  </mat-form-field>
                </div>
              </div>
              <!--*******************-->
              <div class="row">
                <label class="col-sm-3 col-form-label">Nº documento</label>
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput type="text" [(ngModel)]="modificarCedula" required>
                  </mat-form-field>
                </div>
              </div>
               <!--*******************-->
               <div class="row">
                <label class="col-sm-3 col-form-label">RUC </label>
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput type="text" [(ngModel)]="modificarRuc" required>
                  </mat-form-field>
                </div>
              </div>
              <!--*******************-->
              <div class="row">
                <label class="col-sm-3 col-form-label">Teléfono</label>
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput type="text" [(ngModel)]="modificarTelefono" required>
                  </mat-form-field>
                </div>
              </div>
              <!--*******************-->              
              <div class="row">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput type="text" [(ngModel)]="modificarEmail" required>
                  </mat-form-field>
                </div>
              </div>  
              <!--*******************-->
              <div class="row">
                <label class="col-sm-3 col-form-label">Fecha Nacimiento</label>
                <div class="col-sm-9">
                  <mat-form-field>
                    <input matInput [matDatepicker]="pickerTo" placeholder="Seleccionar fecha" 
                        (click)="picker.open()" [(ngModel)]="modificarFechaNacimiento" required>
                          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                          <mat-datepicker #pickerTo></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <!--*******************-->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="modificar()" data-dismiss="modal"
                [disabled]="((modificarNombre && modificarApellido && modificarEmail && modificarTelefono && modificarRuc && modificarCedula && modificarFechaNacimiento ))?false:true">
                Guardar</button>
            </div>
          </div>
        </div>
      </div>
      <!-------------------------END MODIFICAR PACIENTE--------------------------->
      <!--------------------------- ELIMINAR PACIENTE ---------------------------->
      <div class="modal fade modal-warning" id="exampleModal3" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Está seguro de que desea eliminar este paciente?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!--*******************-->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="eliminar()" data-dismiss="modal">
                Eliminar</button>
            </div>
          </div>
        </div>
      </div>
      <!-------------------------END ELIMINAR PACIENTE--------------------------->
    </div>
    <!--<div class="container-fluid">-->
    <div class="row">
      <div class="col-md-12">
        <!--tabla sin buscador integrado-->
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title ">Lista de pacientes</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-8 col-sm-4">
                <mat-form-field>
                  <mat-select placeholder="Seleccionar" name="city" [(ngModel)]="idCategoria"
                    (ngModelChange)="changeDescripcion()">
                    <mat-option *ngFor="let city of lista" [value]="city.idCategoria">
                      {{ city.descripcion }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <button mat-raised-button class="btn btn-primary btn-sm" (click)="buscar()">Buscar</button>
              <button mat-raised-button class="btn btn-info btn-sm" (click)="limpiar()">Limpiar</button>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ tableData1.headerRow[0] }}</th>
                    <th>{{ tableData1.headerRow[1] }}</th>
                    <th>{{ tableData1.headerRow[2] }}</th>
                    <th>{{ tableData1.headerRow[3] }}</th>
                    <th>{{ tableData1.headerRow[4] }}</th>
                    <th>{{ tableData1.headerRow[5] }}</th>
                    <th>{{ tableData1.headerRow[6] }}</th>
                    <th>{{ tableData1.headerRow[7] }}</th>
                    <th class="disabled-sorting text-right">{{ tableData1.headerRow[8] }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of tableData1.dataRows">
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[7]}}</td>
                    <td class="text-right">
                      <a href="javascript:void(0)" class="btn btn-link btn-warning btn-just-icon edit"
                        (click)="abrirModalModificar(row[0],row[1],row[2],row[3],row[4],row[5],row[6],row[7])"><i class="material-icons">dvr</i></a>
                      <a href="javascript:void(0)" class="btn btn-link btn-danger btn-just-icon remove"
                        (click)="confirmarEliminar(row[0])"><i class="material-icons">delete</i></a>
                    </td>
                  </tr>
                  <mat-paginator [length]="length" [pageSize]="pageSize" (page)="pageEvent = listarPacientesPag($event)">
                  </mat-paginator>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--end tabla sin buscador integrado-->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>