/********** SE COPIA DE LOGIN SCSS ************/
/* rgba(201, 131, 241, 0.267)*/
.login-register {
    background-color:#486E94;
    min-height: 100vh;
    padding: 11% 0%
  }
  .login-card { 
    margin: 0 15%;
  }
  .login-card-form{
    background: #FFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .login-card-img{
    background-color:#1E4970;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .login-img {
    width: 75%;
  }
  
  .login-form-img {
    width: 65%;
    margin: 0 auto;
    padding: 30% 0;
  }
  .login-box {
    width: 820px;
    margin: -45px auto;
  }
  
  #login-icon {  
    color: white;
  }
  /* 
  .nombre_empresa img {
    height: 112px;
    margin: 149px 15px;
  }
  .form-control login-stile {
    min-height: 41px;
    background: #fff;
    box-shadow: none !important;
    border-color: #e3e3e3;
  }
  .form-control:focus {
    border-color: #70c5c0;
  }
  .form-control, .btn {        
    border-radius: 2px;
  }
  .card {  
    border: 0px solid rgba(0, 0, 0, 0.125);
  } */
  .login-link {
    cursor: pointer;
  }
  .login-link:hover{
    opacity: 1.1 !important;
    transform: scale(1.5, 1.5) !important; 
    text-decoration: underline !important; 
  } 
  .login-form {
    width: 50%;
    margin: 0 auto;
    padding: 10% 0;		
  }
  .login-form form {
    color: #7a7a7a;
    border-radius: 2px;
    margin-bottom: 15px;
    font-size: 13px;
    background: #ececec;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;	
    position: relative;	
  }
  .login-form h2 {
    font-size: 22px;
    margin: 35px 0 25px;
  }
  .login-form .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -50px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #003F6F;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  .login-form .avatar img {
    width: 100%;
  }	
  .login-form input[type="checkbox"] {
    margin-top: 2px;
  }
  .login-form .btn {        
    font-size: 16px;
    /*font-weight: bold;*/
    background: #003F6F;;
    border: none;
    margin-bottom: 20px;
  }
  .login-form .btn:hover, .login-form .btn:focus {
    background: #003F6F;
    outline: none !important;
  }    
  .login-form a {
    color: #fff;
    text-decoration: underline;
  }
  .login-form a:hover {
    text-decoration: none;
  }
  .login-form form a {
    color: #7a7a7a;
    text-decoration: none;
  }
  .login-form form a:hover {
    text-decoration: underline;
  }
  .version-no {
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
    padding-left: 15px;
    padding-bottom: 15px;
  }
  
  
  /*******************/
  .login-card { 
    margin: 0 15%;
  }
  .login-img {
    width: 85%;
  }
  .login-form {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 0px;
    padding-top: 20%;	
  }
  .login-form form {
    color: #7a7a7a;
    border-radius: 2px;
    margin-bottom: 15px;
    font-size: 12px;
    background: #ececec;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 20px;
    position: relative;	
  }
  .login-form h2 {
    font-size: 18px;
      margin: 26px 0 15px;
  }
  .login-form .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -50px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    z-index: 9;
    background: #003F6F;
    padding: 18px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  /* .form-control {
    min-height: 35px;
    background: #fff;
    box-shadow: none !important;
    border-color: #e3e3e3;
  } */
  .form-control:focus {
    border-color: #70c5c0;
  }
  .form-control, .btn {        
    border-radius: 2px;
  }
  .login-form .form-group {  
    margin-bottom: 1rem;
    font-size: 13px;
  }
  .login-form .btn {        
    font-size: 13px;
    /*font-weight: bold;*/
    background: #003F6F;;
    border: none;
    margin-bottom: 8px;
  }
  .login-form-img {
    width: 70%;
    margin: 0 auto;
    /* padding: 43% 0;	 */
    padding: 36% 0;
  }
  .card .card-icon i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.6rem;
  }
  .tarjeta-title{
    font-size: .9rem;
  }
  small {
    font-size: 80%;
  }
  .tarjetas-chart {
    min-height: 150px;
    padding-top: 0px;
  }
  /* google-chart {
    width: 150; 
    height: 150;
  } */
  .card-body {
    flex: 1 1 auto;
    padding: .6rem;
  }
  .card-title h4{
    font-size: 1.1rem;
  }
  .tarjetas-chart h4{
    font-size: 1.1rem;
  }
  .gauge-padding{
    padding: .6rem;
  }
  .margin-pie{
    margin:5%;
  }
  .version-no {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
    padding-bottom: 15px;
  }
